<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block metas '' %}
        
        {% block stylesheets %}
            <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% endblock %}
        
        {% block optionnals '' %}
    </head>
    <body>
        {% block container '' %}
        {% block javascripts '' %}
    </body>
</html>
