{% extends '@FardusCommon/base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    
    <script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
    <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script src="{{ asset('bundles/farduscommon/semantic/semantic.min.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/farduscommon/semantic/semantic.min.css') }}" />
{% endblock %}